<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contoh Layout Semantik</title>
</head>
<body>
    <header>
        <h1>Elemen Semantik HTML</h1>
    </header>

    <nav>
        <a href='#'>Home</a>
        <a href='#'>Profil</a>
        <a href='#'>Support</a>
    </nav>

    <article>
        <h1>Elemen Semantik</h1>
        <p>Elemen semantik adalah elemen-elemen yang menyatakan makna atau tujuan dari elemen itu sendiri,  misal tag footer, tag ini digunakan untuk membuat elemen footer atau bagian kaki dari web
        </p>
    </article>

    <footer>
        Copyright &copy; 2021 Pem-Web
    </footer>

</body>
</html>